.chef{
  padding: 128px 0;
  background: url("/src/images/chef.jpg");

  &-row{
    display: flex;
    column-gap: 96px;
  }
  &-left{
    position: relative;
    z-index: 10;
  }
  &-right{
    display: flex;
    flex-direction: column;
  &-img{
    position: relative;
    z-index: 10;
  }
  &-left:before{
    content: '';
    width: 435px;
    height: 435px;
    background: #DCCA87;
    position: absolute;
    right: -20px;
    top: -20px;
  }
  &-left:after{
    content: '';
    width: 435px;
    height: 435px;
    background: #DCCA87;
    position: absolute;
    left: -20px;
    bottom: -20px;
    z-index: 5;
  }
  &-right {
    display: flex;
    flex-direction: column;

    &-img {
      width: 235px;
      height: 83px;

    }

    &-top-text {
      font-family: 'Cormorant Upright', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 23px;
      line-height: 130%;
      letter-spacing: 0.04em;
      text-transform: capitalize;
      font-feature-settings: 'tnum' on, 'lnum' on;
      color: #FFFFFF;
      margin-bottom: 8px;
    }

    &-title {
      font-family: 'Cormorant Upright', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 64px;
      line-height: 130%;
      letter-spacing: 0.03em;
      text-transform: capitalize;
      font-feature-settings: 'tnum' on, 'lnum' on;
      color: #DCCA87;
    }

    &-bottom {
      font-family: 'Open Sans', sans-serif;
      font-style: italic;
      font-weight: 400;
      font-size: 16px;
      line-height: 175%;
      letter-spacing: 0.04em;
      color: #AAAAAA;
      margin: 64px 0;

      &-title {
        font-family: 'Cormorant Upright', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 130%;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        font-feature-settings: 'tnum' on, 'lnum' on;
        color: #DCCA87;
      }

      &-text {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        color: #AAAAAA;
        margin-bottom: 64px;
      }
    }
  }
  }
}
