.formik{
  padding: 113px 0;
  .form{
  width: 100%;
    padding: 64px 252px;
    background: #0C0C0C;
    border: 1px solid rgba(220, 202, 135, 0.2);
    box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
    &-btn{
      display: block;
      font-family: 'Cormorant Upright', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 175%;
      letter-spacing: 0.04em;
      color: #0C0C0C;
      background: #DCCA87;
    }
  &-text{
    font-family: 'Cormorant Upright', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #FFFFFF;
    text-align: center;
  }
    &-title{
      font-family: 'Cormorant Upright', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 64px;
      line-height: 130%;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: capitalize;
      font-feature-settings: 'tnum' on, 'lnum' on;
      color: #DCCA87;
    }
    &-update{
      margin: 24px 64px ;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 175%;
      text-align: center;
      letter-spacing: 0.04em;
      color: #FFFFFF;
    }
    &-label{
      display: flex;
      align-items: center;
      column-gap: 32px;
    }
    &-input{
      width: 100%;
      border: 1px solid #F5EFDB;
      background: transparent;
      padding: 16px;
      color: white;
    }
  }
}