@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@700&family=Open+Sans:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-style: normal;
}

.container-big {
  max-width: 1680px;
  margin: 0 auto;
}

.container-small {
  max-width: 1300px;
  margin: 0 auto;
}

body {
  background: #0C0B08;
}

.title {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #DCCA87;
}

.header {
  padding: 32px 0;
}
.header-logo {
  font-family: "Cormorant Upright", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
.header-logins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
}
.header-login, .header-book {
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #FFFFFF;
}

.menu {
  padding: 48px 0 148px;
  margin: 0 auto;
}
.menu-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 180px;
     -moz-column-gap: 180px;
          column-gap: 180px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu-subtitle {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
  position: relative;
}
.menu-subtitle:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 40px;
  height: 9px;
  background: url("../images/Vector.png");
}
.menu-title {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #DCCA87;
  margin: 25px 0 32px;
}
.menu-info {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #AAAAAA;
}
.menu-btn {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #0C0B08;
  margin-top: 25px;
  background: #DCCA87;
  padding: 8px 32px;
  cursor: pointer;
}
.menu-img {
  position: relative;
  z-index: 100;
}
.menu-right {
  position: relative;
}
.menu-right:before {
  content: "";
  position: absolute;
  width: 435px;
  height: 435px;
  background: #DCCA87;
  z-index: 5;
  top: -20px;
  right: -20px;
}
.menu-right:after {
  content: "";
  position: absolute;
  width: 435px;
  height: 435px;
  background: #DCCA87;
  z-index: 20;
  bottom: -20px;
  left: -20px;
}

.about {
  padding: 120px 0 136px;
  background: url("../images/BG.jpg");
  width: 100%;
  height: 100%;
}
.about-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}
.about-left {
  text-align: right;
  position: relative;
  z-index: 300;
}
.about-right {
  text-align: left;
  position: relative;
  z-index: 300;
}
.about-title {
  position: relative;
}
.about-title:before {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 0;
  background: url("../images/Vector.png");
  width: 40px;
  height: 9px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.about-left-title {
  position: relative;
}
.about-left-title:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  background: url("../images/Vector.png");
  width: 40px;
  height: 9px;
}
.about-img {
  position: relative;
  z-index: 10;
}
.about-center {
  position: relative;
  z-index: 10;
}
.about-center:before {
  content: "";
  position: absolute;
  background: url("../images/G.png");
  height: 415px;
  width: 391px;
  z-index: 1;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, 30%);
          transform: translate(-50%, 30%);
}
.about-subtitle {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #AAAAAA;
  margin: 49px 0 42px;
}
.about-btn {
  padding: 8px 32px;
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #0C0C0C;
  background: #DCCA87;
}

.book {
  padding: 157px 0 152px;
}
.book-form {
  background: #0C0C0C;
  border: 1px solid rgba(220, 202, 135, 0.2);
  -webkit-box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
          box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
  width: 1364px;
  padding: 48px 0 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.book-form:before {
  content: "";
  position: absolute;
  width: 146px;
  height: 146px;
  background: url("/src/images/icon.png");
  top: -50%;
  right: 0;
}
.book-form-title {
  margin: 25px 0 64px;
}
.book-form-subtitle {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
  position: relative;
}
.book-form-subtitle:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 9px;
  background: url("/src/images/Vector.png");
  bottom: -20px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.book-form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  margin-bottom: 64px;
}
.book-form-btn {
  padding: 8px 32px;
  background: #DCCA87;
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #0C0C0C;
}
.book-form-select {
  width: 412px;
  padding: 16px;
  border: 1px solid #F5EFDB;
  background: transparent;
  font-family: "Cormorant Upright", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #AAAAAA;
}

.barMenu {
  padding: 262px 0;
  background: url("../images/bg.png") center/cover no-repeat;
  width: 100%;
  height: 100%;
}
.barMenu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 64px;
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
  cursor: pointer;
  position: relative;
}
.barMenu-list:before {
  content: "";
  position: absolute;
  background: url("../images/icon.png");
  width: 146px;
  height: 146px;
  top: -80%;
  left: 0;
}
.barMenu-item:hover {
  text-decoration: underline;
}

.today {
  padding: 152px 0;
  background: black;
}
.today-subtitle {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 25px;
  position: relative;
}
.today-subtitle-icon {
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.today-title {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #DCCA87;
  text-align: center;
  margin-bottom: 48px;
}
.today-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.today-menu-title {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
  padding: 50px;
  margin-bottom: 46px;
}
.today-menu {
  max-width: 412px;
  width: 50%;
  position: relative;
}
.today-menu-img {
  position: absolute;
  height: 100%;
  left: -15px;
  top: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.today-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 42.5px;
}
.today-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}
.today-info-title {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #DCCA87;
}
.today-info-price {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
  position: relative;
}
.today-info-price:before {
  content: "";
  position: absolute;
  background: white;
  width: 119px;
  height: 1px;
  left: -151px;
  top: 50%;
}
.today-info-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  text-align: left;
  letter-spacing: 0.04em;
  color: #AAAAAA;
}
.today-btn {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #0C0C0C;
  padding: 8px 32px;
  border: none;
  text-align: center;
  background: #DCCA87;
  margin: 64px auto 0;
  display: block;
}

.chef {
  padding: 128px 0;
  background: url("/src/images/chef.jpg");
}
.chef-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 96px;
     -moz-column-gap: 96px;
          column-gap: 96px;
}
.chef-left {
  position: relative;
  z-index: 10;
}
.chef-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.chef-right-img {
  position: relative;
  z-index: 10;
}
.chef-right-left:before {
  content: "";
  width: 435px;
  height: 435px;
  background: #DCCA87;
  position: absolute;
  right: -20px;
  top: -20px;
}
.chef-right-left:after {
  content: "";
  width: 435px;
  height: 435px;
  background: #DCCA87;
  position: absolute;
  left: -20px;
  bottom: -20px;
  z-index: 5;
}
.chef-right-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.chef-right-right-img {
  width: 235px;
  height: 83px;
}
.chef-right-right-top-text {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
  margin-bottom: 8px;
}
.chef-right-right-title {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #DCCA87;
}
.chef-right-right-bottom {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #AAAAAA;
  margin: 64px 0;
}
.chef-right-right-bottom-title {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #DCCA87;
}
.chef-right-right-bottom-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #AAAAAA;
  margin-bottom: 64px;
}

.custom {
  padding: 152px 0;
}
.custom-text {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
  text-align: center;
  position: relative;
}
.custom-text-icon {
  content: "";
  position: absolute;
  background: url("../images/Vector.png");
  width: 40px;
  height: 9px;
  top: 100%;
  left: 48%;
}
.custom-title {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #DCCA87;
  text-align: center;
}
.custom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 64px 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.custom-card {
  width: calc(50% - 16px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.custom-card-info {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #AAAAAA;
}
.custom-card-title {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #DCCA87;
  margin: 16px 0 4px;
}
.custom-card-subtitle {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #F5EFDB;
}

.video {
  padding: 148px 0;
  width: 100%;
  height: 700px;
  margin-bottom: 128px;
}

.barHome {
  padding-bottom: 85px;
  height: calc(100vh - 121.2px);
  background: url("../../src/images/BG.jpg");
  position: relative;
  text-align: center;
}
.barHome-img {
  height: calc(100vh - 259px);
}
.barHome-title {
  position: absolute;
  top: 319px;
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 181px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #FFFFFF;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  white-space: nowrap;
}
.barHome-scroll {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #DCCA87;
  position: relative;
}
.barHome-scroll:before {
  content: "";
  height: 61px;
  width: 1px;
  background: #FFFFFF;
  position: absolute;
  top: -75px;
  left: 50%;
}

.our {
  padding: 128px 0;
}
.our-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 111px;
     -moz-column-gap: 111px;
          column-gap: 111px;
}
.our-text {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
  position: relative;
}
.our-text-before {
  content: "";
  position: absolute;
  background: url("../images/Vector.png");
  width: 40px;
  height: 10px;
  top: 100%;
  left: 0;
  margin: 25px 0 64px;
}
.our-title {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #DCCA87;
}
.our-left-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 64px 32px;
}
.our-card {
  width: calc(50% - 32px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  color: #FFFFFF;
}
.our-card-title {
  margin-bottom: 8px;
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #DCCA87;
}
.our-card-subtitle {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #AAAAAA;
}

.blogs {
  padding: 152px;
}
.blogs-text {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  text-align: center;
  color: #FFFFFF;
}
.blogs-title {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  text-align: center;
  color: #DCCA87;
  margin: 25px 0 64px;
}
.blogs-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}
.blogs-card {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.blogs-card-image {
  width: 100%;
  height: 430px;
}
.blogs-card-img {
  width: 100%;
}
.blogs-card-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 24px 32px;
}
.blogs-card-date {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #FAFAFA;
}
.blogs-card-user-name {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #FAFAFA;
}
.blogs-card-title {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #DCCA87;
  cursor: pointer;
}
.blogs-card-title:hover {
  text-decoration-color: #FFFFFF;
  text-decoration-line: underline;
}
.blogs-card-info {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #AAAAAA;
  margin: 32px 0;
}
.blogs-card-read {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #DCCA87;
}
.blogs-btn {
  display: block;
  margin: 64px auto 0;
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #0C0C0C;
  background: #DCCA87;
}

.instagram {
  padding: 129px 0;
}
.instagram-btn {
  display: block;
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #0C0C0C;
  background: #DCCA87;
}
.instagram-text {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
}
.instagram-title {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #DCCA87;
  text-align: left;
  margin: 25px 0;
}
.instagram-subtitle {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #AAAAAA;
  margin: 24px 24px;
}
.instagram-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 64px;
     -moz-column-gap: 64px;
          column-gap: 64px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.instagram-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}
.instagram-left-img {
  width: calc(50% - 32px);
  height: 447px;
}

.formik {
  padding: 113px 0;
}
.formik .form {
  width: 100%;
  padding: 64px 252px;
  background: #0C0C0C;
  border: 1px solid rgba(220, 202, 135, 0.2);
  -webkit-box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
          box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
}
.formik .form-btn {
  display: block;
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #0C0C0C;
  background: #DCCA87;
}
.formik .form-text {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
  text-align: center;
}
.formik .form-title {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #DCCA87;
}
.formik .form-update {
  margin: 24px 64px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
.formik .form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}
.formik .form-input {
  width: 100%;
  border: 1px solid #F5EFDB;
  background: transparent;
  padding: 16px;
  color: white;
}

.footer {
  padding: 128px 0;
}
.footer-date {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #AAAAAA;
  margin: 80px 0;
}
.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.footer-card-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 17px;
     -moz-column-gap: 17px;
          column-gap: 17px;
}
.footer-card-title {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #F5EFDB;
}
.footer-card-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #AAAAAA;
  margin: 24px 0 8px;
}
.footer-title {
  font-family: "Cormorant Upright", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #DCCA87;
}
.footer-subtitle {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin: 32px 0 51px;
}